html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none !important;
    text-align: center; }
    ul li button:first-child {
      margin-top: 10px; }
  ul li.footer-society {
    text-align: left; }

.factory {
  background: #f9fffc;
  border-radius: 0;
  margin-top: 20px; }
  .factory .breadcrumb {
    margin-top: 50px; }
  .factory div:first-child {
    padding-left: 0.5rem !important; }

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

#central-container {
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#layout-background-animated {
  width: 100%;
  min-height: 30vh;
  background-color: #424242;
  margin: 0 auto;
  left: auto; }
  #layout-background-animated img {
    width: 100%; }
  #layout-background-animated span {
    text-align: center;
    color: white;
    display: block;
    font-size: 20px; }

form .row.no-gutters {
  margin-top: 15px; }

.toKnow {
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block; }

#coordonnees_agence .col-12 {
  text-align: center; }

#immeuble {
  padding: 0; }

.breadcrumb-item:before {
  display: inline-block;
  padding-right: .3rem !important;
  color: #6c757d; }

.auto-margin {
  margin: 0 auto; }

.btn {
  border-radius: 0; }
  .btn .contact {
    width: 163px;
    text-align: center;
    margin-top: 15px; }

.bordered-animated {
  transition: all 1s ease;
  width: 0;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 15px; }

#footer-container .row {
  background-color: #60C2D1;
  margin-top: 4vh; }

#footer-container .col-md-4 img {
  float: right; }

.breadcrumb {
  background-color: inherit !important; }

select, input {
  height: 30px !important;
  margin-right: 10px; }

select {
  padding: 0 !important;
  padding-left: 6px;
  padding-right: 6px; }

@media only screen and (min-width: 300px) {
  breadcrumb-item {
    min-width: 119px; } }
